.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
    z-index: 1;
    height: 40px;
    background: linear-gradient(
        180deg,
        #141414c2,
        #1414148e 40%,
        transparent
    );
    transition: all 0.5s;
    transition-timing-function: ease-out;
}

.nav-black {
    background-color: #141414;
    transition: 400ms;
}

.logo {
    position: fixed;
    width: 110px;
    object-fit: contain;
    padding-top: 5px;
}

.avatar {
    position: fixed;
    width: 40px;
    object-fit: contain;
    right: 20px;
}

.icons {
    position: fixed;
    right: 70px;
}

.icon {
    height: 20px;
    padding: 10px;
}